.header {
    height: 70vh;
    margin: 30px auto;
    padding: 1.5rem 5%;
    background: url('/header_img.png') no-repeat center center;
    background-size: cover;
    border-radius: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 80%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2vw;
    max-width: 50%;
    bottom: 12%;
    left: 5%;
    animation: fadeIn 2.5s ease-in-out;
}

.header-contents h2 {
    color: var(--theme-color);
    font-size: max(4.5vw, 2.4rem);
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.header-contents p {
    color: var(--theme-color);
    font-size: 1.1vw;
    line-height: 1.6;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.header button {
    background: linear-gradient(135deg, white, #f0f0f0);
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 1.8rem 3.5rem;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.header button:hover {
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    color: var(--theme-color);
    font-weight: 600;
    transform: scale(1.05);
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
}
