.header {
    height: 65vh;
    margin: 30px auto;
    padding: 1.5rem 5%;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 80%;
    transition: box-shadow 0.3s ease-in-out; 
}

.header:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.48); 
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 7%;
    animation: fadeIn 3s;
}

.header-contents h2 {
    color: var(--theme-color);
    font-size: max(4.5vw, 2.2rem);
    font-weight: 500;
    text-shadow: rgb(255, 255, 255) 0.7px 0.7px 0px, 
                 rgb(255, 255, 255) -0.7px 0.7px 0px,
                 rgb(255, 255, 255) 0.7px -0.7px 0px,
                 rgb(255, 255, 255) -0.7px -0.7px 0px;
}

.header-contents p {
    color: var(--theme-color);
    font-size: 14px;
    line-height: 1.5;
}

.header button {
    background: white;
    color: var(--text-color);
    font-size: 1.9rem;
    font-weight: 400;
    padding: 2rem 3.5rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
}

.header button:hover {
    background: #501193d1;
    color: var(--theme-color);
    font-weight: 500;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
        gap: max(5vw, 25px);
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 14px;
    }
}