.navbar {
    padding: 15px 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 100;
    text-decoration: none;
}


.navbar .logo {
    width: 180px;
    transition: transform 0.2s ease-in-out;
}

.navbar .logo:hover {
    transform: scale(1.08);
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.6rem;
    color: #8f0fc1; 
    font-weight: 600;
    text-decoration: none;
}

.navbar-menu li {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.navbar-menu li:hover {
    color: #8f0fc1; 
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar button {
    background: transparent;
    color: #2c3e50;
    font-size: 1.6rem;
    padding: 10px 25px;
    border: 2px solid #8f0fc1;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar button:hover {
    background-color: #8f0fc1;
    color: white;
    box-shadow: 0 4px 10px rgba(255, 127, 80, 0.3);
}

.navbar .active {
    padding-bottom: 3px;
    border-bottom: 2px solid #8f0fc1;
}

.basket-dot {
    position: relative;
}

.basket-dot .dot {
    position: absolute;
    min-height: 12px;
    min-width: 12px;
    background-color: rgba(245, 94, 94, 0.718);
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

@media (max-width: 900px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 1.4rem;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar button {
        padding: 8px 20px;
        font-size: 1.4rem;
    }
}


@media (max-width: 750px) {
    .navbar-menu {
        display: none;
    }

    .navbar {
        padding: 15px 4vw;
    }
}