.footer {
    background-color: #323232;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 60px 8vw 20px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
    align-items: start;
}

.footer-content-left .footer-logo {
    width: 180px;
}

.footer-content-left p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #bdbdbd;
    max-width: 400px;
}

.footer-content-left,
.footer-content-right,
.footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer-content-right h2,
.footer-content-center h2 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.footer-content-right li,
.footer-content-center li {
    list-style: none;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: color 0.3s;
}

.footer-content-right li:hover,
.footer-content-center li:hover {
    color: var(--theme-color);
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer-social-icons img {
    width: 35px;
    transition: transform 0.3s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.1);
}

.footer hr {
    width: 100%;
    height: 2px;
    border: none;
    margin-block: 20px;
    background-color: #555;
}

.footer-copyright {
    font-size: 1.4rem;
    text-align: center;
    color: #bdbdbd;
}

@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media (max-width: 750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        align-items: center;
    }

    .footer-content-left,
    .footer-content-right,
    .footer-content-center {
        align-items: center;
    }

    .footer-social-icons {
        justify-content: center;
    }
}
